<h1>販売先一覧</h1>

<table class="small">
  <thead>
    <tr>
      <th style="width: 50%">社名</th>
      <th style="width: 50%">郵便番号・住所</th>
    </tr>
  </thead>

  <tbody>
    <% @sellers.each do |seller| %>
      <tr>
        <td><%= seller.company %></td>
        <td>〒<%= seller.post_number %><span>・</span><%= seller.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag import_sellers_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag 'インポート' %>
<% end %>