<div class="text-center">
  <h1>発注データ入力</h1>
</div>

<div class="row col-sm-10 offset-sm-3">

    <%= form_with(model: @received, local: true) do |f| %>
       <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-inline">
        <%= f.label :number, '受注№' %>
        <%= f.text_field :number, class: 'form-control' %>
      </div>
      
      <div class="form-inline">
        <%= f.label :seller_id, '需要先' %>
        <!--collection_select:選択ﾎﾞｯｸｽ Seller.all:選択肢 :id:保存するｶﾗﾑ　:company:表示するｶﾗﾑ-->
        <!--{include_blank: true}:選択ﾎﾞｯｸｽの最初はブランク-->
        <%= f.collection_select :seller_id, Seller.all, :id, :company, {include_blank: true}, class: 'form-control' %>
      </div>
      
      <div class="form-inline">
        <%= f.label :name, '担当者' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-inline">
        <%= f.label :desired_day, '希望日' %>
        <%= f.date_field :desired_day, class: 'form-control' %>
      </div>

      <div class="form-inline">
        <%= f.label :place_id, '納入先' %>
        <%= f.collection_select :place_id, Place.all, :id, :company, {include_blank: true}, class: 'form-control' %>
      </div>
      
      <div class="form-inline">
        <%= f.label :product_id, '商品' %>
        <%= f.collection_select :product_id, Product.all, :id, :name, {include_blank: true}, class: 'form-control' %>
      </div>

      <div class="form-inline">
        <%= f.label :quantity, '数量' %>
        <%= f.number_field :quantity, class: 'form-control' %>
      </div>
      
      <%= f.submit '登録する', class: 'btn btn-primary btn-block' %>
    <% end %>
</div>